<form asp-action="Index">
    <input type="text" name="FullName">
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu:">
</form>
<h2>Dữ liệu từ Controllergửi về : @ViewBag.thongBao</h2>